<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <AppName>Web</AppName>
  <ConfName>DaoConfig</ConfName>
  <Version>201507300747</Version>
  <Data>
    <Item key="key1">value1</Item>
    <Item key="key2">value2</Item>
    <Item key="key3">value3</Item>
    <Item key="key4">value4</Item>
  </Data>
</Config>