<?xml version="1.0" encoding="utf-8" ?>
<CacheConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CacheProviders>
    <CacheProvider>
      <ProviderName>MemCached</ProviderName>
      <ProviderGroups>
        <ProviderGroup>
          <GroupName>Session</GroupName>
          <Servers>127.0.0.1:11211, 127.0.0.1:11212</Servers>
          <Timeout>30000</Timeout>
          <MinPoolSize>10</MinPoolSize>
          <MaxPoolSize>200</MaxPoolSize>
          <CacheEntitys>
            <CacheEntity>
              <Name>SessionCache</Name>
              <EntityFullName>Nana.Framework.TestConsole.SessionCache</EntityFullName>
              <Expiry>120000</Expiry>
            </CacheEntity>
          </CacheEntitys>
        </ProviderGroup>
      </ProviderGroups>
    </CacheProvider>
  </CacheProviders>
</CacheConfig>