<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <logger name="Nana.Framework.Log.CommonLogMessage">
    <level value="ALL" />
    <appender-ref ref="DefaultLogFileAppender" />
  </logger>
  
  <appender name="DefaultLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="..\log\app_log\" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <datePattern value="'AppLog_'yyyyMMddHH'.txt'" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="##### %date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  
</log4net>