<?xml version="1.0" encoding="utf-8"?>
<LogHelperConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DefaultLoggerType>a1</DefaultLoggerType>
  <MsgTypeLoggerTypeMapping>
    <Mapping MsgType="Nana.Framework.Log.CommonLogMessage" LoggerType="Nana.Framework.Log.Log4NetLogger" />
  </MsgTypeLoggerTypeMapping>
</LogHelperConfig>